 .App {
  text-align: center;
}

.card { 
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
  width: 450px;
}
.card img {
  margin: 25px;
  width: 300px;
  height: auto;
}

.wrapper button {
  align-items: flex-start;
  font-size: 24px;
  color: rgb(14, 29, 247);
  background-color: white;
  margin: 25px;
}
.wrapper button:hover {
  color: white;
  background-color: black;
}

.card p {
  font-size: 30px;
  margin: 25px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

